{% extends "main/wrapper.html" %}
{% load staticfiles %}

{% block head %}
	<div id="headerw" style="
	background: url(../../static/img/header4.jpg) no-repeat;
	margin-top: -10px;
	padding-top: 20px;
	background-attachment: relative;
	background-position: center center;
	min-height: 300px;
	width: 100%;
	background-size: 100%;
	color: white;

	-webkit-background-size: cover; ">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
					<h1>Лікар алерголог</h1>
					<h2>Вікторія Анатоліївна Яцишена</h2>
					<h3>Галерея</h3>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block main %}
	<br>
	<!-- {% for photo in photos %}
		<a class="gallery" rel="group" title="{{ photo.title }}" href="{{ MEDIA_URL }}{{ photo.img.url }}"><img src="{{ MEDIA_URL }}{{ photo.img.url }}" width="200" /></a>

	{% endfor %} -->

	<div class="card-columns">
		<div class="card">
			<img class="card-img-top" src="../../static/img/002.jpg" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">Card title that wraps to a new line</h5>
				<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
			</div>
		</div>
		<div class="card p-3">
			<blockquote class="blockquote mb-0 card-body">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
				<footer class="blockquote-footer">
					<small class="text-muted">Someone famous in 
						<cite title="Source Title">Source Title</cite>
					</small>
				</footer>
			</blockquote>
		</div>
		<div class="card">
			<img class="card-img-top" src="../../static/img/003.png" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
				<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			</div>
		</div>
		<div class="card bg-primary text-white text-center p-3">
			<div class="card">
				<img class="card-img" src="../../static/img/01.png" alt="Card image">
			</div>
			<blockquote class="blockquote mb-0">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
				<footer class="blockquote-footer">
					<small>Someone famous in 
						<cite title="Source Title">Source Title</cite>
					</small>
				</footer>
			</blockquote>
		</div>
		<div class="card text-center">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">This card has a regular title and short paragraphy of text below it.</p>
				<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			</div>
		</div>
		<div class="card">
			<img class="card-img" src="../../static/img/004.png" alt="Card image">
		</div>
		<div class="card p-3 text-right">
			<blockquote class="blockquote mb-0">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
				<footer class="blockquote-footer">
					<small class="text-muted">Someone famous in 
						<cite title="Source Title">Source Title</cite>
					</small>
				</footer>
			</blockquote>
		</div>
		<div class="card">
			<div class="card">
				<img class="card-img" src="../../static/img/005.png" alt="Card image">
			</div>
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">This is another card with title and supporting text below. This card has some additional content to make it slightly taller overall.</p>
				<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			</div>
		</div>
	</div>



	
{% endblock %}


