{% extends "main/wrapper.html" %}
{% load staticfiles %}

{% block head %}
	<div id="headwrapper_cat" style="background: url(../static/img/header3.jpg) no-repeat;
	margin-top: -10px;
	padding-top: 20px;
	background-attachment: relative;
	background-position: center center;
	min-height: 300px;
	width: 100%;
	background-size: 100%;
	color: white;

	-webkit-background-size: cover; ">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
					<h1>Лікар алерголог</h1>
					<h2>Вікторія Анатоліївна Яцишена</h2>
					<h3>Категорії</h3>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block main %}
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<h1>АЛЕРГІЯ</h1>
				<p>Алергія –чому це важливо? Мабуть кожен у своєму житті стикався з проявами алергії і частіше навіть не здогадувався про це. В нашому місті багато людей мають таку проблему, і в більшості випадків звертаються за допомогою несвоєчасно, що погіршує якість життя пацієнта або загрожує його здоров’ю та життю.</p>
				<h1>АТОПІЯ</h1>
				<p>Атопія - підвищена та якісно змінена реакція организму на повторне введення чужорідного антигена або гаптена. Алергеном виступають частіше біологічноактині речовини з класу білків, ліпопротеїдів або глікопротеїнів, іноді це неповні білки( гаптени) що потребують зв’язування з білком безпосередньо в організмі людини. Коли алерген вперше попадає в скомпрометований організм з ним починають контактувати відповідні клітини і виробляються специфічні антитіла, цей процес називають сенсибілізацією. Коли ж з’являються симптоми – це вже прояви захворювання. До алергічних захворювань відносяться:</p>
				<p>-бронхіальна астма;</p>
				<p>-алергічний риносинусит;</p>
				<p>-атопічний дерматит;</p>
				<p>-кропив’янка;</p>
				<p>- ангіоневротичний набряк;</p>
				<p>-контактний дерматит;</p>
				<p>- медикаментозна алергія;</p>
				<p>- анафілаксія та анафілактичний шок.</p>
				<h1>СИМПТОМИ АЛЕРГІЧНИХ ЗАХВОРЮВАНЬ</h1>
				<p>Симптоми алергічних захворювань: свербіж шкіри та висипка, набряк шкіри і слизових оболонок, чхання, нежить, слизисті виділення з носа, закладенність носа, кашель, задишка, напади вимучую чого кашлю, при анафілаксії втрата свідомості, зниження артеріального тиску та загроза життю.</p>
			</div>
			<div class="col-lg-6">
				<h1>МЕТОДИ ОБСТЕЖЕННЯ:</h1>
				<p>1. Визначення загального імуноглобуліна Е( у дітей як скринінг).</p>
				<p>2. Алерготестування прик-тестом ( уколом): проводиться на шкірі передпліччя або спини в умовах алергокабінету з використання тест-контролю, відповідь через 20-30 хвилин, інформативність складає 50-70%. Є скринінговим тестом.</p>
				<p>3. Визначення специфічних імуноглобулінів Е до підозрюваних алергенів, проводиться в лабораторних умовах, інформативність 50-70%.</p>
				<p>4. Визначення специфічних імуноглобулінів Е до мажорних та мінорних молекул підозрюваних алергенів( молекулярна діагностика), проводиться в лабораторних умовах, інформативність більше 90%.</p>
				<p>5. Провокаційні тести з причинним алергеном, проводяться в умовах стаціонару і реанімаційного відділення.</p>
				<h1>Методи лікування:</h1>
				<h2>1.Навчання пацієнтів.</h2>
				<p>Пацієнти інформуються про стан здоров’я та методи лікування, профілактики захворювань.Проводяться астма- школи за відповідною тематикою.</p>
				<h2>2.Фармакологічна терапія = базисна терапія.</h2>
				<p>Призначення сучасних фармакологічних препаратів для контролю алергічного захворювання з метою покращення якості життя та профілактики загострень.</p>
				<h2>3.Алергенспецифічна імунотерапія.</h2>
				<p>Метод лікування з використанням причинного алергену, для вироблення блокуючих антитіл та розвитку толерантності до алергену.</p>
				<h1>Причинно-значимі алергени:</h1>
				<p>1. Харчові алергени.</p>
				<p>2. Побутові алергени.</p>
				<p>3. Пилкові алергени.</p>
				<p>4. Медикаменти.</p>
				<p>5. Інсектні алергени.</p>
			</div>
			<div class="col-lg-12" id="solution" style="text-align: center;">
				<h1 style="color: red; font-style: italic;">Вирішення проблеми є!</h1>
				<p>1. Вчасно звернутись за допомогою до спеціаліста.</p>
				<p>2. Пройти алергообстеження.</p>
				<p>3. Приймати базісну терапію за призначенням спеціаліста.</p>
				<p>4. Уникати контакту з причинним алергеном.</p>
				<p>5. Пройти курс алергенспецифічної імунотерапії.</p>
			</div>
		</div>
	</div>
{% endblock %}

{% block category %}
		<br><br>
		<h2>Категорії:</h2>
		<hr>
		<div class="row centered">
			<br><br>
			<div class="col-md-2">
				<a class="button" href="{% url 'category:domestic' %}"><i class="fas fa-archive" style="font-size: 5em;"></i><br>Побутові алергени</a>
			</div>
			<div class="col-md-2">
				<a class="button" href="{% url 'category:plants' %}"><i class="fas fa-vials" style="font-size: 5em;"></i><br>Пилкові алергени</a>
			</div>
			<div class="col-md-2">
				<a class="button" href="{% url 'category:pills' %}"><i class="fas fa-pills" style="font-size: 5em;"></i><br>Алергія на ліки</a>
			</div>
			<div class="col-md-2">
				<a class="button" href="{% url 'category:asthma' %}"><i class="fas fa-braille" style="font-size: 5em;"></i><br>Астма</a>
			</div>
			<div class="col-md-2">
				<a class="button" href="{% url 'category:bacteria' %}"><i class="fas fa-dna" style="font-size: 5em"></i><br>Бактеріальні алергени</a>
			</div>
			<div class="col-md-2">
				<a class="button" href="{% url 'category:food' %}"><i class="fas fa-utensils" style="font-size: 5em"></i><br>Харчова алергія</a>
			</div>
			<br><br>
		</div>
		<div class="row centered">
			<br><br>
			<div class="col-md-2">
				<a class="button" href="{% url 'category:t_al' %}"><i class="fas fa-allergies" style="font-size: 5em;"></i><br>Конктактна алергія</a>
			</div>
			<div class="col-md-2">
				<a class="button" href="{% url 'category:asit' %}"><i class="fas fa-child" style="font-size: 5em;"></i><br>АСІТ</a>
			</div>
			<div class="col-md-2">
				<a class="button" href="{% url 'category:child' %}"><i class="fas fa-diagnoses" style="font-size: 5em;"></i><br>Алергія у дітей</a>
			</div>
			<br><br>
		</div>
{% endblock %}