{% extends "main/wrapper.html" %}
{% load staticfiles %}

{% block head %}
	<div id="headerw" style="
	background: url(../../static/img/header12.jpg) no-repeat;
	margin-top: -10px;
	padding-top: 20px;
	background-attachment: relative;
	background-position: center center;
	min-height: 300px;
	width: 100%;
	background-size: 100%;
	color: white;

	-webkit-background-size: cover; ">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
					<h1>Лікар алерголог</h1>
					<h2>Вікторія Анатоліївна Яцишена</h2>
					<h3>Харчові алергени</h3>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block main %}
	<div class="container">
		<style>
			.leftimg {
				float:left; /* Выравнивание по левому краю */
				margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
			}
			.rightimg  {
				float: right; /* Выравнивание по правому краю  */ 
				margin: 7px 0 7px 7px; /* Отступы вокруг картинки */
			}
		</style>
		<br><br>
		<p>
			<img src="/static/img/cat_10.jpg" width="200" class="rightimg"><h1 style="color: green;"> Харчова алергія</h1> – реакція організму на алерген, який знаходиться в їжі, вона пов’язана з утворенням специфічного IgE для даного алергену. Алергічні реакції на харчові алергени характеризує близький часовий зв’язок між експозицією алергену та появою реакції. Прояви можуть торкатись одного або декількох органів (шкіри, дихальної та травної систем) або як системна реакція – анафілаксія. Найбільш значимими алергенами є молоко, яйце, злаки( пшениця, соя, рис), риба та морепродукти, горіхи та деякі фрукти, наприклад персик, яблуко, ківі. Істинна харчова алергія зустрічаєть частіше у дітей до 6-8 років, потім виробляється толерантність. У дорослих частіше харчова алергія пов’язана з перехресними реакціями при алергії на рослини.
		</p>
	</div>
{% endblock %}