{% extends "main/wrapper.html" %}
{% load staticfiles %}

{% block head %}
	<div id="headerw" style="
	background: url(../../static/img/header12.jpg) no-repeat;
	margin-top: -10px;
	padding-top: 20px;
	background-attachment: relative;
	background-position: center center;
	min-height: 300px;
	width: 100%;
	background-size: 100%;
	color: white;

	-webkit-background-size: cover; ">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
					<h1>Лікар алерголог</h1>
					<h2>Вікторія Анатоліївна Яцишена</h2>
					<h3>Контактна алергія</h3>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block main %}
	<div class="container">
		<style>
			.leftimg {
				float:left; /* Выравнивание по левому краю */
				margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
			}
			.rightimg  {
				float: right; /* Выравнивание по правому краю  */ 
				margin: 7px 0 7px 7px; /* Отступы вокруг картинки */
			}
		</style>
		<br><br>
		<p>
			<img src="/static/img/cat_11.jpg" width="200" class="leftimg">Останнім часом багато людей звертають увагу на виникнення реакцій при контакті з різними речовинами, металами, що характеризуються локальними або системними симптомами. Частіше це різні хімічні речовини від побутової хімії до медичних засобів, а також різні метали : стоматологічні та хірургічні імпланти, протези та інше. Вирористання лікарських та косметичних засобів у чутливих людей підвищує ризик контактної алергії.
		</p>
	</div>
{% endblock %}