{% extends "main/wrapper.html" %}
{% load staticfiles %}

{% block head %}
	<div id="headerw" style="
	background: url(../../static/img/header6.jpg) no-repeat;
	margin-top: -10px;
	padding-top: 20px;
	background-attachment: relative;
	background-position: center center;
	min-height: 300px;
	width: 100%;
	background-size: 100%;
	color: white;

	-webkit-background-size: cover; ">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
					<h1>Лікар алерголог</h1>
					<h2>Вікторія Анатолівна Яцишена</h2>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block main %}
	<link rel='stylesheet' type='text/css' href='{% static 'fullcalendar/fullcalendar.css' %}' />
	<link rel='stylesheet' type='text/css' href='{% static 'fullcalendar/fullcalendar.print.css' %}' media='print' />
	<script type='text/javascript' src='{% static 'fullcalendar/fullcalendar.min.js' %}'></script>

	<div class="myCalendar">
		<style type="text/css">
			$(".myCalendar").CalenStyle({

				});
		</style>
	</div>
{% endblock %}

	<script type="text/javascript">
		$('#calendar').fullCalendar({});
	</script>
{% block content %}
	<div class="container">
		<h2>Контакты:</h2>
		<hr>
		<div class="row centered">
			<div class="col-md-6">
				<i class="fas fa-clock" style="width: 3em; text-align: center;">Время приема:</i>
				<p>ПН: 9:00 - 18:00</p>
				<p>ВТ: 9:00 - 18:00</p>
				<p>СР: 9:00 - 18:00</p>
				<p>ЧТ: 9:00 - 18:00</p>
				<p>ПТ: 9:00 - 18:00</p>
				<i class="fas fa-phone-volume" style="width: 3em;">Звони:</i><p>(0512) 78-32-89</p>
			</div>
			<div class="col-md-6">
				<i class="fas fa-location-arrow">Мы находимся:</i>
				<div id="map">
					<script type="text/javascript">
						var map;
						function initMap() {
							map = new google.maps.Map(document.getElementById('map'), {
								center: {lat: -34.397, lng: 150.644},
								zoom: 8
							});
						}
					</script>
				</div>
			</div>
			
		</div>
	</div>
{% endblock %}